<ul class="sidenav">

  <li>
    <a href="/"
       class="{% if page.url == '/index.html' or page.url == '/' %}active{% endif %}">
      Home
    </a>
  </li>

  <li>
    <a href="/story.html"
       class="{% if page.url == '/story.html' %}active{% endif %}">
      Our Story
    </a>
  </li>

  <li>
    <a href="/schedule.html"
       class="{% if page.url == '/schedule.html' %}active{% endif %}">
      Schedule
    </a>
  </li>

  <li>
    <a href="/stay.html"
       class="{% if page.url == '/stay.html' %}active{% endif %}">
      Where to Stay
    </a>
  </li>

  <li>
    <a href="/registry.html"
       class="{% if page.url == '/registry.html' %}active{% endif %}">
      Registry
    </a>
  </li>

  <li>
    <a href="/contact.html"
       class="{% if page.url == '/contact.html' %}active{% endif %}">
      Contact
    </a>
  </li>

  <li>
    <a href="http://rsvp.harmonli.com/">
      RSVP
    </a>
  </li>

  <li>
    <a href="https://goo.gl/photos/JbyEQuGEmBuPA39j9">
      Photos
    </a>
  </li>

</ul>
