$bodyframe-width: 20px;

$nautical-red: #FB561D;
$nautical-yellow: #FFCA48;
$nautical-light-blue: #B9DBEB;
$nautical-dark-blue: #375066;
$nautical-white: #fff;
$nautical-lightgray: $clr-grey-100; // Material Grey 100

$content-width: 540px;

//////////////////////////////
// Body
//

body {
  position: relative;
  padding: $bodyframe-width;
  padding-bottom: $bodyframe-width + 80px;
  width: 100%;
  background-color: $nautical-dark-blue;
}

//////////////////////////////
// Bodyframe
// The white frame around the content.
//

body:after {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: $bodyframe-width solid $nautical-white;
  z-index: 1;
  // Avoid clicks on this element.
  pointer-events: none;

  @media (max-width: $screen-xs-max) {
    border-width: 16px;
  }
}

//////////////////////////////
// Sidenav
//

ul.sidenav {
  list-style: none;
  position: fixed;
  top: $bodyframe-width + 16px;
  left: $bodyframe-width;
  margin: 0;
  padding: 0;
  font-family: $headings-font-family;

  > li {
    margin-bottom: 10px;

    > a {
      display: block;
      padding: 12px 20px;
      width: 180px;
      line-height: 24px;
      background-color: rgba($nautical-white,0);
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: $nautical-yellow;

      &:hover {
        background-color: rgba($nautical-white,1.0);
        color: $nautical-dark-blue;
        transition: background-color .25s, color .25s;
      }

      &:focus {
        outline: none;
      }

      &.active {
        background-color: rgba($nautical-white,1.0);
        color: $nautical-red;
      }
    }

  }

  @media (max-width: $screen-xs-max) {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 8px;
    width: 100%;
    text-align: center;

    > li {
      display: inline-block;

      > a {
        display: inline-block;
        width: auto;
      }
    }
  }
}

//////////////////////////////
// Container
//

// Small devices: Tablets
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  body {
    padding-left: 200px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    // .container has padding on left and right side.
    // Each side padding is 20px.
    max-width: $content-width + (20px * 2);
  }
}

// Medium and large devices
@media (min-width: $screen-md-min) {
  .container {
    // .container has padding on left and right side
    // Each side padding has width ($grid-gutter-width / 2).
    width: $content-width + $grid-gutter-width;
  }
}

//////////////////////////////
// Headings
//

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: normal;
  color: $nautical-yellow;
}



h1 {
  margin-top: 80px;
  margin-bottom: 80px;
  line-height: 64px;
  font-size: 64px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

p {
  margin-bottom: 16px;
  color: $nautical-white;

  //////////////////////////////
  // Links
  //

  a,
  a:hover,
  a:focus {
    text-decoration: underline;
    color: $nautical-red;
  }

  //////////////////////////////
  // Subheadings
  //

  &.subhead1 {
    margin-bottom: 0;
    line-height: 48px;
    font-size: 32px;
  }

  &.subhead2 {
    margin-bottom: 0;
    line-height: 36px;
    font-size: 24px;
  }
}

//////////////////////////////
// Button
//

a.button {
  &,
  &:hover,
  &:focus {
    display: inline-block;
    padding: 8px 12px;
    font-size: 20px;
    font-family: $headings-font-family;
    text-decoration: none;
    text-transform: uppercase;
    border: 4px solid $nautical-red;
  }
}

//////////////////////////////
// Lead quote
//

.leadquote {
  margin-bottom: 80px;
  padding-top: 12px;
  max-width: $content-width;
  line-height: 32px;
  font-family: $headings-font-family;
  font-size: 20px;
  font-style: italic;
  border-top: 1px solid $nautical-red;
  color: $nautical-red;
}

//////////////////////////////
// Image frames

// 16:9 aspect ratio
.imageframe-169 {
  padding-top: (9 / 16) * 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  background-size: cover;
  background-position: center center;
}

//////////////////////////////
// Name badge
//

.namebadge {
  float: left;
  margin-top: 4px;
  margin-right: 12px;
  width: 56px + 4px + 4px;
  line-height: 56px;
  font-family: $headings-font-family;
  font-size: 20px;
  text-align: center;
  color: $nautical-red;
  border: 4px solid $nautical-red;
  text-transform: uppercase;
}

//////////////////////////////
// Spacers
//

%space {
  display: block;
  clear: both;
  width: 100%;
}

@each $height in 8, 12, 16, 24, 32, 48, 64, 80 {
  .space-#{$height} {
    @extend %space;
    height: #{$height}px;
  }
}

//////////////////////////////
// Page colors
//

// Background: yellow
// Sidenav: dark-blue
// Heading: dark-blue
// Lead: red
// Text: dark-blue
body.page-story {
  background-color: $nautical-yellow;

  ul.sidenav > li > a {
    color: $nautical-dark-blue;

    &:hover {
      color: $nautical-dark-blue;
    }

    &.active {
      color: $nautical-red;
    }
  }

  .leadquote {
    border-top-color: $nautical-red;
    color: $nautical-red;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $nautical-dark-blue;
  }

  p {
    color: $nautical-dark-blue;

    a,
    a:hover,
    a:focus {
      color: $nautical-red;
    }
  }
}

// Background: light-blue
// Sidenav: red
// Heading: red
// Lead: dark-blue
// Text: dark-blue
// Link: red
body.page-schedule {
  background-color: $nautical-light-blue;

  ul.sidenav > li > a {
    color: $nautical-red;

    &:hover {
      color: $nautical-red;
    }

    &.active {
      color: $nautical-dark-blue;
    }
  }

  h1, h2, h3 {
    color: $nautical-red;
  }

  h4, h5, h6 {
    color: $nautical-dark-blue;
  }

  .leadquote {
    border-top-color: $nautical-dark-blue;
    color: $nautical-dark-blue;
  }

  p {
    color: $nautical-dark-blue;

    a,
    a:hover,
    a:focus {
      color: $nautical-red;
    }
  }
}

// Background: lightgray
// Sidenav: red
// Heading: red
// Lead: dark-blue
// Text: dark-blue
// Link: red
body.page-contact {
  background-color: $nautical-lightgray;

  ul.sidenav > li > a {
    color: $nautical-red;

    &:hover {
      color: $nautical-red;
    }

    &.active {
      color: $nautical-dark-blue;
    }
  }

  h1, h2, h3 {
    color: $nautical-red;
  }

  h4, h5, h6 {
    color: $nautical-dark-blue;
  }

  .leadquote {
    border-top-color: $nautical-dark-blue;
    color: $nautical-dark-blue;
  }

  p {
    color: $nautical-dark-blue;

    a,
    a:hover,
    a:focus {
      color: $nautical-dark-blue;
    }
  }
}
