$bodyframe-width: 20px;

$nautical-red: #FB561D;
$nautical-yellow: #FFCA48;
$nautical-light-blue: #B9DBEB;
$nautical-dark-blue: #375066;

//////////////////////////////
// Body
//

body {
  position: relative;
  padding: $bodyframe-width;
  padding-bottom: 60px;
  width: 100%;
  background-color: $nautical-dark-blue;
}

//////////////////////////////
// Bodyframe
// The white frame around the content.
//

body:after {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: $bodyframe-width solid #fff;
  z-index: 1;
  // Avoid clicks on this element.
  pointer-events: none;
}

//////////////////////////////
// Sidenav
//

ul.sidenav {
  list-style: none;
  position: fixed;
  top: $bodyframe-width + 16px;
  left: $bodyframe-width;
  margin: 0;
  padding: 0;

  > li {
    margin-bottom: 10px;

    > a {
      display: block;
      padding: 12px 20px;
      width: 180px;
      line-height: 24px;
      background-color: rgba(255,255,255,0);
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: $nautical-yellow;

      &:hover {
        background-color: rgba(255,255,255,1.0);
        color: $nautical-dark-blue;
        transition: background-color .25s, color .25s;
      }

      &:focus {
        outline: none;
      }

      &.active {
        background-color: rgba(255,255,255,1.0);
        color: $nautical-red;
      }
    }

  }
}

//////////////////////////////
// Container
//

// Small devices: Tablets
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  body {
    padding-left: 200px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    // .container has padding on left and right side.
    // Each side padding is 20px.
    max-width: 540px + (20px * 2);
  }
}

// Medium and large devices
@media (min-width: $screen-md-min) {
  .container {
    // .container has padding on left and right side
    // Each side padding has width ($grid-gutter-width / 2).
    width: 540px + $grid-gutter-width;
  }
}

//////////////////////////////
// Headings
//

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: normal;
  color: $nautical-yellow;
}

h1:first-child {
  margin-top: 80px;
  margin-bottom: 80px;
  line-height: 64px;
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

p {
  font-family: Roboto;
  color: $nautical-dark-blue;
}

//////////////////////////////
// Lead quote
//

.leadquote {
  margin-bottom: 80px;
  padding-top: 12px;
  line-height: 32px;
  font-size: 20px;
  font-style: italic;
  border-top: 1px solid $nautical-red;
  color: $nautical-red;
}

//////////////////////////////
// Spacers
//

%space {
  display: block;
  clear: both;
  width: 100%;
}

.space-32 {
  @extend %space;
  height: 32px;
}

.space-80 {
  @extend %space;
  height: 80px;
}

//////////////////////////////
// Page color
//

// Background: yellow
// Heading: dark-blue
// Lead: red
// Text: white
body.page-story {
  background-color: $nautical-yellow;

  ul.sidenav > li > a {
    color: $nautical-dark-blue;

    &:hover {
      color: $nautical-dark-blue;
    }

    &.active {
      color: $nautical-red;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $nautical-dark-blue;
  }

  .leadquote {
    border-top-color: $nautical-red;
    color: $nautical-red;
  }
}
